<h1>007 Watchlists</h1>

<div class="row">
  <% @lists.each do |l| %>
    <div class="col-12">
      <div class="card">
        <img class="card-img-top" src="<%= l.photo.key %>" alt="<%= l.name %> poster">
        <div class="card-body">
          <h5 class="card-title"><%= l.name %></h5>
          <%= link_to "Details", list_path(l), class: "btn btn-primary text-white" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
